<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Sitio Web - TDA252</title>
  </head>
  <body>
        <header>
        	<img src="/images/logo.png" alt="Meadowlark Travel Logo">
        </header>
    {{{body}}}
  </body>
</html>